.react-calendar {
    --background-color: var(--form-element-background-color);
    --border-color: var(--form-element-border-color);
    --color: var(--form-element-color);
    --box-shadow: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
    font-weight: var(--font-weight);
    transition: background-color var(--transition), border-color var(--transition), color var(--transition), box-shadow var(--transition);
    max-width: 350px;
    width: 100%;
}

.react-calendar__navigation {
    display: flex;
}

[role=button], button, input[type=button], input[type=reset], input[type=submit] {
    --background-color: var(--form-element-background-color);
    --border-color: var(--form-element-border-color);
    --color: var(--form-element-color);
    --box-shadow: none;
    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-align: center;
    cursor: pointer;
    transition: background-color var(--transition),border-color var(--transition),color var(--transition),box-shadow var(--transition);
}

abbr[title] {
    /* border-bottom: 1px dotted; */
    text-decoration: none;
    cursor: help;
    display: flex;
    justify-content: center;}