.logo {
	margin: 0;
	padding: 0;
}

.invoice__info {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

.invoice__info-row {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.invoice__logo-view {
	width: 200px;
	height: 200px;
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	outline: 0;
	--background-color: var(--form-element-background-color);
	--border-color: var(--form-element-border-color);
	display: flex;
}

.date-picker {
	visibility: hidden;
	transition: visibility .2s linear .2s, opacity .2s linear;

}

.date-picker_opened {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition-delay: .2s;
}

.invoice__items {
	display: grid;
	gap: 5px;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	align-items: end;
}

.invoice__item-button {
	height: calc(1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2);
	margin-top: calc(var(--spacing) * .25);
}

.price {
	display: flex;
    justify-content: space-between;
	gap: 50px;
}

.price > div {
	flex: 1;
  }
